@charset "UTF-8";
@import "mixins";

@font-face {
	font-family: 'LGSmartH';
	font-display: swap;
	font-weight: 700;
	font-style: normal;
	src: local("☺"), 
			 url(/lg5-common-gp/webfonts/LGSmHaB.woff2) format("woff2"), 
			 url(/lg5-common-gp/webfonts/LGSmHaB.woff) format("woff")
}
@font-face {
	font-family: 'LGSmartH';
	font-display: swap;
	font-weight: 600;
	font-style: normal;
	src: local("☺"), 
			 url(/lg5-common-gp/webfonts/LGSmHaSB.woff2) format("woff2"), 
			 url(/lg5-common-gp/webfonts/LGSmHaSB.woff) format("woff")
}
@font-face {
	font-family: 'LGSmartH';
	font-display: swap;
	font-weight: 500;
	font-style: normal;
	src: local("☺"), 
			 url(/lg5-common-gp/webfonts/LGSmHaR.woff2) format("woff2"), 
			 url(/lg5-common-gp/webfonts/LGSmHaR.woff) format("woff")
}
@font-face {
	font-family: 'LGSmartH';
	font-display: swap;
	font-weight: 400;
	font-style: normal;
	src: local("☺"), 
			 url(/lg5-common-gp/webfonts/LGSmHaL.woff2) format("woff2"), 
			 url(/lg5-common-gp/webfonts/LGSmHaL.woff) format("woff")
}

.clothing-campaign {
	* {
		// font-family: "LGSmartH", "LG Smart", "Segoe UI", "Microsoft Sans Serif", sans-serif;
		font-family: "LG Smart", "Segoe UI", "Microsoft Sans Serif", sans-serif;
	}
	p {
		margin-bottom:0;
	}
	.a11y {
		position: absolute;
		width: 1px;
		height: 1px;
		padding: 0;
		margin: -1px;
		overflow: hidden;
		clip: rect(0, 0, 0, 0);
		border: 0;
	}

	.box_content-tab {
		.list_tab-nav {
			display: flex;	
			max-width: 768px;
			margin: 0 auto;
			border:0;
			.list-item {
				flex:1;
				width:auto;
				background: {
					size: 60px;
					position: left center;
					repeat: no-repeat;
				}
				&.item01 {
					background-image: url('../images/ico_sus01.png');
				}
				&.item02 {
					background-image: url('../images/ico_sus02.png');
				}
				&.item03 {
					background-image: url('../images/ico_sus03.png');
				}
			}
			.link {
				position:relative;
				display: block;
				height:100%;
				padding:10px 0 10px 70px;
				font-size:20px;
				font-weight: 400;	
				&.active, &:hover {
					font-weight: 700;
					&:before {
						content: '';
						position:absolute;
						left:0;
						bottom:0;
						display: block;
						width:100%;
						height:100%;
						background: {
							image: url(../images/sustab_over.png);
							size:auto 34px;
							repeat: no-repeat;
							position: left 45px bottom;
						}
						z-index: -1;
					}
					&:after {
						display: none;
					}
				}
				&:hover:not(.active){ 
					font-weight: 400;
				}
			}
		}
		.box_tab-view {
			position: relative;
			margin: 40px auto 0;
		}
		.box_view-detail {
			position: relative;

			.box_view-item {
				position: relative;
				text-align: center;
				visibility: hidden;
				height: 0;
				&.active {
					visibility: visible;
    			height: auto;
				}
			}
		}
	} // .box_content-tab

	.box_main-title {
		.text_title {
			font-weight: 700;
		}
		.text_sub {
			margin-top:30px;
			font-size:20px;
		}
	}
	.box_row-campaign {
		position:relative;
		max-width:1600px;
		margin:0 auto;
		.row-tit {
			font-size:60px;
			font-weight: 700;
			line-height:1.15;
			text-align: center;
		}
		.row-stit {
			margin-top:30px;
			font-size:20px;
			line-height:1.15;
			text-align: center;
		}
		.dot_line {
			clear:both;
			position:relative;
			width:100%;
			background: {
				image: url(../images/dot_line.png);
				size:auto 1px;
				repeat: repeat-x;
				position: 0 center;
			}
			&._or {
				&:before {
					content: 'or';
					position:absolute;
					left:50%;
					top:-15px;
					@include transform(translateX(-50%));
					display: block;
					background-color: #fff;
					padding:3px 10px;
					font-size:20px;
					line-height: 1;
					color:#999999;
				}
			}
		}
		&:after {
			@extend %clearer;
		}
	}
	.clothing_keyvisual {
		position:relative;
		padding-top:45%;
		background: {
			color:#000000;
			image: url(../images/visual_bgcut.png);
			size: cover;
			repeat: no-repeat;
			position:center center;
		}
		&.origin {
			background-image: url(../images/visual_bgcut.png);
		}
		&.active {
			background-image: none;
		}
	}
	.vodbg {
		position:absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
		background-repeat: no-repeat;
		background-position: left 10% top;
		background-size: 80% 100%;
		@include transition(.4s, ease-out);
		overflow: hidden;
		video {
			display: none;
			min-width:100%; min-height:100%;
		}
	}
	.over_text {
		position:absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
		z-index: 1;
		&:after {
			@extend %clearer;
		}
		.item {
			position:relative;
			float:left;
			width:calc(100% / 4);
			height:100%;
			&:not(.item_title) {
				background-color:rgba(0,0,0, 0.55);
				border-left: 1px solid rgba(255,255,255, 0.15);
				cursor: pointer;
				.sub_print {
					p {
						font-size:20px;
						font-weight:700;
						color:rgba(213,213,213, 0.3);
						text-align: center;
						letter-spacing: 8px;
						@include transition(.2s, ease-in-out);
						> span {
							display: block;
							margin-top:5px;
							font-size:inherit;
							font-weight: inherit;
							color:inherit;
							letter-spacing: 1px;
						}
					}
				}
				&:hover {
					.sub_print {
						p {
							color:rgba(213,213,213, 1);
						}
						.btn_play {
							display: inline-block;
						}
					}
				}
			}
		}
		.item_title {
			background: {
				color:#000;
				image: url(../images/visual_elimg01.png);
				size: 302px;
				repeat: no-repeat;
				position:center bottom 45px;
			}
			.sub_print {
				text-align: left;
				p {
					font-size:40px;
					font-weight: 700;
					color:#fff;
					line-height:1.25;
					text-align: left;
					letter-spacing: initial;
				}
				span {
					display: block;
					color:rgba(153, 153, 153, 0.6);
				}
			}
		}
		.sub_print {
			position:absolute;
			left:50%;
			top:50%;
			@include transform(translate(-50%, -50%));
			width:100%;
			padding-left:20%;
			padding-right:20%;
			text-align: center;
		}
		.btn_play {
			display: none;
			margin-top:10px;
			font-size:14px;
			color:#FBD431;
			letter-spacing: 5px;
			i {
				display:inline-block;
				width: 0;
				height: 0;
				margin-left:4px;
				border-style:solid; border-width:5px;
				border-color:transparent transparent transparent #FBD431;
			}
		}
	} // .clothing_keyvisual

	.clothing_story {
		height:550px;
		margin:120px auto 150px;
		// padding-bottom:27.414%;
		overflow: hidden;
		.desc {
			position:absolute;
			left:0;
			top:50%;
			@include transform(translateY(-50%));
			width:55.6%;
			padding-left:5%;
			padding-right:15%;
			.tit {
				font-size:36px;
				font-weight: 700;
				line-height:1.25;
			}
			.txt {
				margin-top:30px;
				font-size:20px;
			}
			.btn_watch {
				display: inline-block;
				margin-top:60px;
				padding-right:18px;
				background: {
					image: url(../images/ico_morevw.png);
					size: 14px;
					repeat: no-repeat;
					position: right center;
				}
				font-weight: 700;
				color:#B50031;
			}
		}
		.visual {
			float:right;
			width:44.4%;
			height:100%;
			background: {
				image: url(../images/story_bgcut.png);
				size: cover;
				repeat: no-repeat;
				position: right center;
			}
		}
		.story_slide {
			position:relative;
			margin-top:13.5%;
			margin-left:-20%;
			padding-bottom:10px;
			z-index: 10;
			.story_cut {
				position:absolute;
				left:0;
				bottom:0;
				width:78px;
				height:56px;
				background: {
					image: url(../images/story_cut01.png);
					size:cover;
					position:0 0;
					repeat: no-repeat;
				}
			}
			.explan {
				position:absolute;
				right:10%;
				bottom:40px;
				i {
					display: inline-block;
					width:63px;
					height:36px;
					background: {
						image: url(../images/story_cut02.png);
						size:cover;
						position:0 0;
						repeat: no-repeat;
					}
				}
				p {
					font-size:30px;
					font-weight: 700;
					line-height:1.1;
					color:#fff;
				}
			}
		}
		.slick-arrow {
			border:none;
			outline: none;
			background-color: transparent;
			cursor: pointer;
		}
		.slick-prev {
			position: absolute;
			left:0;
			top: 50%;
			width: 30px;
			height: 30px;
			border: 0;
			font-size: 0;
			z-index: 10;
			i{
				@include iconAngle($direction: 'left', $width: 15px, $height: 30px, $thick: 2px, $color: #999999, $display: inline-block, $position: relative); 
			}
		}
		.slick-next {
			position: absolute;
			right:20px;
			top: 50%;
			width: 30px;
			height: 30px;
			border: 0;
			font-size: 0;
			z-index: 10;
			i{
				@include iconAngle($direction: 'right', $width: 15px, $height: 30px, $thick: 2px, $color: #fff, $display: inline-block, $position: relative); 
			}
		}
		.box_slide-wrap {
			position: relative;
			max-width:570px;
			margin-left:35px;
			overflow: hidden;
		}
		.box_slide-item {
			position: relative;
			display: inline-block;
			vertical-align: top;
			box-sizing: border-box;
			text-align: center;
			max-width:260px;
			margin-left:15px;
			margin-right:15px;
			.box_slide-image {
				position: relative;
				padding-bottom:142.31%;
				overflow: hidden;
				img {
					position:absolute;
					left:50%;
					top:50%;
					@include transform(translate(-50%, -50%));
					width:100%;
					height:100%;
					-o-object-fit: cover;
					object-fit: cover;
				}
			}
		}
	} // .clothing_story

	.clothing_howto {
		width:100%;
		padding:120px 0 0;
		background: {
			image: url(../images/goods_bgcut.png);
			size:100%;
			repeat: no-repeat;
			position:left top;
		}
		.howto {
			position:relative;
			width:100%;
			margin-top:60px;
			background-color: #fff;
			&:after {
				@extend %clearer;
			}
			.desc {
				float:left;
				width:40%;
				padding:80px 0px 0 110px;
			}
			.dot_line {
				margin:30px 0;
			}
			p {
				margin-bottom:30px;
				font-size:30px;
				font-weight: 700;
				line-height:1.15;
			}
			ul {
				> li {
					position:relative;
					margin-top:30px;
					padding-left:12px;
					font-size:24px;
					line-height:1.25;
					&:first-child {
						margin-top:0;
					}
					strong {
						display: block;
						margin-bottom:5px;
						font-weight: 600;
					}
					&:before {
						content: '';
						position:absolute;
						left:0;
						top:15px;
						display: block;
						width:4px;
						height:4px;
						border-radius: 25px;
						background-color: #000;;
					}
				}
			}
			.hashtags {
				display: inline-block;
				margin-right:10px;
				font-size:24px;
				font-weight: 700;
				color:#D62B59;
			}
			.more_link {
				position:relative;
				display: inline-block;
				margin-top:60px;
			}
			.sns_link {
				margin-bottom:40px;
				a {
					display:inline-block;
					min-width:160px;
					height:45px;
					line-height:45px;
					background-color: #000;
					color:#fff;
					font-size:18px;
					text-align: center;
					i {
						display: inline-block;
						width:28px;
						height:28px;
						background: {
							size:28px;
							repeat: no-repeat;
							position:center center;
						}
						margin-top:-4px;
						margin-right:9px;
						vertical-align: middle;
					}
				}
				.btn_yt {
					i {
						background-image: url(../images/ico_youtube.png);
					}
				}
				.btn_fb {
					i {
						background-image: url(../images/ico_facebook.png);
					}
				}
				.btn_ins {
					i {
						background-image: url(../images/ico_instagram.png);
					}
				}
			}
			.btn_more {
				display: inline-block;
				padding-right:18px;
				background: {
					image: url(../images/ico_morevw.png);
					size: 14px;
					repeat: no-repeat;
					position: right center;
				}
				font-size:15px;
				font-weight: 700;
				color:#B50031;
			}
			.btn_terms {
				position:absolute;
				right:0;
				bottom:0;
				display: inline-block;
				color:#999999;
				text-align: right;
				i {
					@include iconAngle($direction: 'right', $width: 6px, $height: 14px, $thick: 1px, $color: #999999, $display: inline-block, $position: relative); 
					margin-left:8px;
					margin-top:-2px;
					vertical-align: middle;
				}
			}
			.figure {
				float:right;
				width:60%;
				img {
					max-width:100%;
				}
			}
		}
	} // .clothing_howto

	.clothing_sustain {
		margin-top:40px;
		margin-bottom:120px;
		.row-stit {
			margin-top:20px;
		}
		.box_content-tab {
			margin-top:35px;
		}
	} // .clothing_sustain

	.clothing_quiz {
		padding:120px 0;
		background: {
			image: url(../images/quiz_bgcut.png);
			size:cover;
			repeat: no-repeat;
			position:center center;
		}
		.howto_enter {
			position:relative;
			h3 {
				margin-bottom:15px;
				font-size:30px;
				font-weight: 700;
			}
			ul {
				max-width:60%;
			}
			li {
				position:relative;
				padding-left:13px;
				font-size:24px;
				&:before {
					content: '';
					position:absolute;
					left:0;
					top:17px;
					display: inline-block;
					width: 4px;
					height:4px;
					border-radius: 25px;
					background-color: #000;
				}
				strong {
					font-weight: 600;
				}
				.hashtags {
					font-weight: 700;
					color:#289B4C;
				}
			}
			.desc {
				position:absolute;
				right:0;
				bottom:0;
				width:40%;
				padding-left:2.5%;
				font-size: 24px;
				font-weight: 700;
			}
		}
	} // .clothing_quiz

}
